* {
    margin: 0;
    padding: 0;
}

.logo {
    width: 5rem;
    height: auto;
}

header, .card {
    display: flex;
    justify-content: space-around;
    align-items: center;
}

header {
    margin-top: 1rem;
}

.card {
    margin: auto;
    flex-direction: column;
    margin-top: 3rem;
    border: 2px solid black;
    width: fit-content;
    padding: 1rem;
    border-radius: 32px;
}

.location {
    background-color: black;
    color: white;
    border-radius: 32px;
    padding: 1rem;
}